* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/aclocal.m4 -text
/af-nl.prob -text
/apertium-af-nl.af-nl.dix.xml -text
/apertium-af-nl.af-nl.t1x -text
/apertium-af-nl.af-nl.t2x -text
/apertium-af-nl.af-nl.t3x -text
/apertium-af-nl.af.dix.xml -text
/apertium-af-nl.af.tsx -text
/apertium-af-nl.nl-af.t1x -text
/apertium-af-nl.nl-af.t2x -text
/apertium-af-nl.nl-af.t3x -text
/apertium-af-nl.nl.dix.xml -text
/apertium-af-nl.post-af.dix -text
/apertium-af-nl.post-nl.dix -text
/apertium-af-nl.symbols.xml -text
/configure.ac -text
/modes.xml -text
/nl-af.prob -text svneol=unset#unset
