* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/aclocal.m4 -text
/af-nl.prob -text
/apertium-af-nl.af-nl.dix -text
/apertium-af-nl.af-nl.t1x -text
/apertium-af-nl.af-nl.t2x -text
/apertium-af-nl.af-nl.t3x -text
/apertium-af-nl.af.acx -text
/apertium-af-nl.af.dix -text
/apertium-af-nl.af.tsx -text
/apertium-af-nl.nl-af.t1x -text
/apertium-af-nl.nl-af.t2x -text
/apertium-af-nl.nl-af.t3x -text
/apertium-af-nl.nl.dix -text
/apertium-af-nl.post-af.dix -text
/apertium-af-nl.post-nl.dix -text
/configure.ac -text
dev/apertium-af-nl.nl.dix.OLD -text
dev/bidix-nouns.txt -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/eval/eval.2010-12-23.wikipedia.1.txt -text
dev/eval/eval.2010-12-23.wikipedia.2.txt -text
dev/generation-summary.txt -text
dev/generation-test.sh -text
dev/missing-bidix-freq.sh -text
dev/nl.wikt.speling.txt -text
dev/verbSep-NoParadigms.txt -text
dev/verbSep.txt -text
/modes.xml -text
/nl-af.prob -text svneol=unset#unset
