* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/aclocal.m4 -text
/af-nl-unsupervised.make -text
/af-nl.prob -text
/apertium-af-nl.af-nl.dix -text
/apertium-af-nl.af-nl.t1x -text
/apertium-af-nl.af-nl.t2x -text
/apertium-af-nl.af-nl.t3x -text
/apertium-af-nl.af.acx -text
/apertium-af-nl.af.dix -text
/apertium-af-nl.af.tsx -text
/apertium-af-nl.nl-af.t1x -text
/apertium-af-nl.nl-af.t2x -text
/apertium-af-nl.nl-af.t3x -text
/apertium-af-nl.nl.dix -text
/apertium-af-nl.nl.tsx -text
/apertium-af-nl.post-af.dix -text
/apertium-af-nl.post-nl.dix -text
/configure.ac -text
dev/apertium-af-nl.af-old.tsx -text
dev/apertium-af-nl.nl.dix.OLD -text
dev/bidix-nouns.txt -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/eval/compounds/compounds.top -text
dev/eval/eval.2010-12-23.wikipedia.1.apertium.txt -text
dev/eval/eval.2010-12-23.wikipedia.2.apertium.txt -text
dev/eval/eval.2010-12-27.wikipedia.1.google.txt -text
dev/eval/eval.2010-12-27.wikipedia.2.google.txt -text
dev/eval/eval.2011-01-07.wikipedia.3.apertium.txt -text
dev/eval/eval.2011-01-07.wikipedia.3.google.txt -text
dev/eval/evaluation-log.txt -text
dev/generation-summary.af-nl.txt -text
dev/generation-summary.nl-af.txt -text
dev/generation-test.af-nl.sh -text
dev/generation-test.nl-af.sh -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/missing-bidix-freq.sh -text
dev/nl.wikt.speling.txt -text
dev/testvoc-summary.af-nl.txt -text
dev/testvoc-summary.nl-af.txt -text
dev/testvoc.sh -text
dev/verbSep-NoParadigms.txt -text
dev/verbSep.txt -text
/modes.xml -text
/nl-af-unsupervised.make -text
/nl-af.prob -text svneol=unset#unset
nl/apertium-af-nl.nl.dix.full -text
nl/update.sh -text
paper/Makefile -text
paper/eamt11.bst -text
paper/eamt11.sty -text
paper/eamt11afnl.tex -text
/pending-tests.sh -text
/wiki-tests.sh -text
